<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>根据文件列表下载</title>
</head>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script type="text/javascript">

	//返回上一层目录
	function returnLastDir(){
		$(".str").remove();//移除刷新
		var path=$("#path").val();
		var index = path .lastIndexOf("\/");
		var lastPath =path .substring(0, 1);
		if(index>0){
			lastPath  = path .substring(0, index);
		}
		$("#path").val(lastPath);
		queryFileList();
	}
	function clearFileList() {
		$(".str").remove();//移除刷新
	}

	//查询文件列表
	function queryFileList(){
		$(".str").remove();//移除刷新
		var path = $("#path").val(); 
		$.ajax({
 			url:"/document/queryFileList",
 			type:"post",
 			async:false,
 			data:{"path":path},
 			/* dataType: "json", */
 			success:function(respResult){
 				createTable(respResult);
 			},
 			error:function(respResult){
 				alert('失败');
 			}
			});
	}

	//创建一个table
	function  createTable(respResult){
		 for(var i=0;i<respResult.length;i++){
			 createTr(respResult[i].path,respResult[i].name,respResult[i].type);
		} 
	}

	//创建一行表格
	function createTr(path,name,type){
		//创建一行
		if("file"==type){
			var $tr = 
				$("<tr class='str'>"+
			    '<td>'+path+'</td>'+
			    '<td>'+name+'</td>'+
			    '<td>'+type+'</td>'+
			    '<td align="center"><input type="button" style="background:#FAEBD7" onclick="download(this);" value="下载"/></td>'+
			  	'</tr>');
				//追加到tbody下
				$("#goods").append($tr);
		}else{
			var $tr = 
				$("<tr class='str'>"+
			    '<td>'+path+'</td>'+
			    '<td>'+name+'</td>'+
			    '<td>'+type+'</td>'+
			    '<td align="center"><input type="button" onclick="intoDirCory(this);" value="进入目录"/></td>'+
			  	'</tr>');
				//追加到tbody下
				$("#goods").append($tr);
		}
		
	}
	//下载文件
	function download(btn){
		$(".formcss").remove();//刷新下载框
		//获取按钮的父亲的兄弟们(tds)
		var $tds = $(btn).parent().siblings();
		var path = $tds.eq(0).html();
		var name = $tds.eq(1).html();
		createDownForm(path,name);
	}

	//构建隐藏的下载框
	function createDownForm(path,name){
		var url="/document/downloadFile";
		// 构造隐藏的form表单
		var $form = $("<form id='download' style='display:none' class='formcss' method='post'></form>");
		$form.attr("action",url);
		$("#form1").append($form);
		// 添加提交参数
		var $input1 = $("<input name='path' type='text'></input>");
		$input1.attr("value",path);
		$("#download").append($input1);

		var $input2 = $("<input name='name' type='text'></input>");
		$input2.attr("value",name);
		$("#download").append($input2);

		var $input3 = $("<input name='param3' type='submit'></input>");
		$input3.attr("value","下载");
		$("#download").append($input3);
		// 提交表单
		$form.submit();
	}
	//进入目录
	function intoDirCory(btn){
		var $tds = $(btn).parent().siblings();
		var path = $tds.eq(0).html();
		$("#path").val(path);
		queryFileList();
	}


	function init(){
		// var url="/document/downloadFile";
		// // 构造隐藏的form表单
		// var $form = $("<form id='download'  method='post'></form>");
		// $form.attr("action",url);
		// $("#form1").append($form);
		// // 添加提交参数
		// var $input1 = $("<input name='fileName' type='text'></input>");
		// $input1.attr("value","1");
		// $("#download").append($input1);
		//
		// var $input2 = $("<input name='param2' type='text'></input>");
		// $input2.attr("value","2");
		// $("#download").append($input2);
		//
		// var $input3 = $("<input name='param3' type='submit'></input>");
		// $input3.attr("value","下载");
		// $("#download").append($input3);
		// 提交表单
		/* $form.submit(); */
	}

</script>
<body onload='init()'>
		<h1>查询文件</h1>
		<table>
			<tr>
				<td>文件路劲</td>
				<td><input style="width:200px;" type="text" id="path" value="/"></td>
				<td><input type="button"  onclick="returnLastDir();" value="上级目录"></td>
				<td><input type="button" onclick="clearFileList();" value="清空列表"></td>
				<td><input type="button" onclick="queryFileList();" value="查询"></td>
			</tr>
		</table>
		
		<h1>文件列表</h1>
		<table>
			<thead>
				<tr>
					<th>文件路劲</th>
					<th>文件名称</th>
					<th>文件类型</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="goods">
			</tbody>
		</table>
		
		<br><br>
		<h1>上传文件</h1>

		<form method="POST" action="/document/fileUploadLocal" enctype="multipart/form-data">
			<input type="file" id="file_input"name="file" />
			路劲:<input type="text" id="upPath"name="path" value="/temp"/>
			<input type="submit"  value="上传" />
		</form>
		<!-- 文件下载隐藏框 -->
		<form id="form1"></form>
</body>


  <style type="text/css">
      h1 {
        text-align:center;
      }
      table {
        margin:0 auto;
        width:60%;
        border:2px solid #aaa;
        border-collapse:collapse;
      }
      table th, table td {
        border:2px solid #aaa;
        padding:5px;
      }
      th {
        background-color:#eee;
      }
      
      form{
      	 margin:0 auto;
        width:60%;
        border:2px solid #aaa;
        border-collapse:collapse;
      }
    </style> 
</html>